<article id="home">
  <form>
    <fieldset>
      <ul>
        <li>
          <input type="text" placeholder="/^Your Regex$/" autofocus="true"/>
        </li>
        <li>
          <div id="editor" contenteditable="true" placeholder="Your text to match against goes here"></div>
        </li>
      </ul>
    </fieldset>
  </form>
</article>
