<article id="home">
  <form>
    <fieldset>
      <ul>
        <li>
          <input type="text" placeholder="/^Your Regex$/" autofocus="true"/>
        </li>
        <li>
          <div id="editor" contenteditable="true">{{editorText}}</div>
        </li>
      </ul>
    </fieldset>
    <fieldset class="actions">
      <button {{action "match"}}>Match</button>
    </fieldset>
  </form>
</article>
