<article id="home">
  <form>
    <fieldset>
      <ul>
        <li>
          {{input type="text" placeholder="/^Your Regex$/" autofocus="true" value=patternString}}
        </li>
        <li>{{view 'editor'}}</li>
      </ul>
    </fieldset>
    <fieldset class="actions">
      <button {{action "match"}}>Match</button>
    </fieldset>
  </form>
</article>
